:host {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .overlay {
    user-select: none;
    cursor: move;
  }

  .native-scroll-hidder {
    /*
      16px - is height/width of default scroll
      20px - is height/width of custom scroll
    */
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    overflow: scroll;

    .scrolled-content {
      float: left;
      width: calc(100% + 16px);
      overflow: scroll;
      height: calc(100% + 16px);
      min-width: calc(100% - 16px);
      position: relative;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      .main-content {
        &.stop-mouse-check {
          pointer-events: none !important;
        }
      }
    }
  }

  .scroll {
    position: absolute;
    opacity: 0;
    z-index: 1;

    &.active {
      opacity: 1;
    }

    .indicator {
      background-color: rgba( 0, 0, 0, .5);
      position: relative;
      cursor: pointer;
    }

    &.scroll-y {
      width: 0;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 2;

      &.active {
        width: 20px;
      }

      .indicator {
        height: 100%;
        width: 7px;
        margin: 0 auto;
        transition: width .1s;

        &.active {
          width: 10px;
        }

        &:hover {
          width: 10px;
        }
      }
    }

    &.scroll-x {
      width: 100%;
      line-height: 20px;
      left: 0;
      height: 0;
      bottom: 0;
      z-index: 1;

      &.active {
        height: 20px;
      }

      .indicator {
        display: inline-block;
        vertical-align: middle;
        margin-top: -6px;
        height: 8px;
        width: 100%;
        transition: height .1s;

        &.active {
          margin-top: -5px;
          height: 10px;
        }

        &:hover {
          margin-top: -5px;
          height: 10px;
        }
      }
    }
  }

  .clear {
    clear: both;
  }
}